[run]
omit =
        /usr/*
        /tmp/*
        /private/*
        .tox/*
        *.pyenv*
        *venv*
        */AppData/*
        setup.py
        runner.py
        *pathlib.py*

[report]
ignore_errors = True
